.listDate {
  padding: .3rem .75rem;
  border-bottom: 1px dashed #bdbdbd ;
}

.listLine {
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}

.listLine div {
  padding: .3rem .75rem !important;
}

.listValue {
  font-weight: 600;
}
.dateGroup {
  margin-bottom: 20px;
}

.linhaDespesa:hover {
  background-color: #ffebee;
}

.linhaReceita:hover {
  background-color: #e0f2f1;
}

.divStatus {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 10px 0;
}
.divStatus div span {
  font-weight: 600;
}